:root {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
}

#navbar {
    min-height: 25px;
    padding-block: 2.5px;
    padding-inline: 20px;
    background-color: rgba(8, 8, 66, 0.767);
    font-size: 1.2rem;
    color: white;
}

#input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-block: 20px;
    font-size: 1.125rem;
    font-weight: 600;
}

#input-container > input {
    padding-block: 3px;
    font-size: 1.125rem;
    font-weight: 500;
}

#add-btn {
    background-color: rgba(8, 8, 66, 0.767);
    font-size: 1.125rem;
    color: white;
    padding-block: 5px;
    padding-inline: 8px;
    border: none;
    border-radius: 4px;
}

#add-btn:hover {
    background-color: rgba(7, 7, 56, 0.767);
    color: rgb(228, 226, 226);
}

#add-btn:active {
    background-color: rgba(0, 0, 0, 0.767);
    color: rgb(228, 226, 226);
}